.main_chat_div {
  width: 100%;
  height: 98vh;
  background-color: lightgray;
}
.child1_chat_div {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 30px 20px;
}
.all_chat_div {
  width: 100%;
  text-align: center;
  height: 96vh;
  border: 1px solid black;
}
.img_girls_icon {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  border: 1px solid greenyellow;
}
.center_icon_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6px;
  padding-bottom: 5px;
  border-bottom: 1px solid grey;
}
.icon_text {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  margin-left: 1rem;
}
.center_chat_div {
  width: 100%;
  height: 79vh;
  /* overflow-x: scroll; */
  overflow-y: scroll;
  border-bottom: 1px solid rgb(164, 185, 231);
}
/* WebKit (Chrome, Safari, new Edge) */
.center_chat_div::-webkit-scrollbar {
  width: 1px; /* Width of the scrollbar */
}

.center_chat_div::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

.center_chat_div::-webkit-scrollbar-thumb {
  background-color: #bcc2c8; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners of the scrollbar thumb */
}

/* Firefox */
.center_chat_div {
  scrollbar-width: thin; /* Width of the scrollbar */
  scrollbar-color: #bcc2c8 #f1f1f1; /* Color of the scrollbar thumb and track */
}
.you_chat {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin-left: 10px;
  margin-top: 0.8rem;
  text-align: right;
  box-sizing: border-box;
}
.you_chat_text {
  background-color: #25d366;
  border-radius: 10px;
  color: #fff;

  width: fit-content;
  margin: 0px 5px 0px 5px;
  font-size: 20px;
}
.you_chat_text1 {
  background-color: #075e54;
  border-radius: 10px;
  width: fit-content;
  color: #fff;
  margin: 0px 5px 0px 5px;
  padding: 5px 8px 5px 8px;
  font-size: 20px;
}
.you_chat_div {
  margin-top: 0.8rem;
}
.online_icon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  top: 3.5rem;
  left: 3.8rem;
}
.online_icon_active {
  background-color: green;
}
.online_icon_deactive {
  background-color: grey;
}
.input_message {
  width: 80%;
  margin-top: 15px;
  height: 30px;
  border-radius: 10px;
  font-size: 17px;
  padding: 0px 8px 0px 8px;
}
.message_button {
  margin-left: 8px;
  background-color: aqua;
  color: black;
  height: 30px;
  border-radius: 10px;
}

.marquee-container {
  width: 100%;
  margin-left: 10px;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}

.marquee-text {
  display: inline-block;
  animation: marquee 8s linear infinite;
  animation-delay: 3s; /* 2 seconds delay before starting the animation */
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.chat_time {
  float: right;
  padding-top: 12px;
}
.chat_time1 {
  float: right;
  padding-top: 12px;
}
.fileUpload {
  background: #00bcbe;

  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 50px;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  overflow: hidden;
  padding: 8px; /*14px/16px*/
  position: relative;
  text-align: center;
  width: fit-content;
  cursor: pointer;
  margin-left: 8px;
  margin-top: 12px;
}

.fileUpload input.upload {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
  width: 148px;
  height: 46px;
  cursor: pointer;
}
.center_div_chatApp::-webkit-scrollbar,
.all_chat_div::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.center_div_chatApp,
.all_chat_div {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
